Repository dkruk/django-rest-start-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: autopep8, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autopep8
        name: run autopep8
        description: fix code style with autopep8
        language: python
        files: \.py$
        entry: autopep8
        args: ["-i", "-r", "src"]
      - id: flake8
        name: run flake8
        description: check code style with flake8
        language: python
        files: \.py$
        entry: flake8
      - id: mypy
        name: run mypy
        description: check typing with mypy
        language: python
        files: ^src/
        entry: mypy src
        pass_filenames: false
default_language_version:
  python: python3.10

Update dependencies
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: none

Upgrade dependencies
  poetry.lock
Due: none

Upgrade dependencies
  Dockerfile
  README.md
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: none

Upgrade dependencies
  poetry.lock
  pyproject.toml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
  src/apps/core/openapi.py
Due: autopep8, flake8, mypy

Update dependencies
  poetry.lock
Due: none

Move settings from 'setup.cfg' to 'pyproject.toml'
  docker-compose.yml
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_project.py
Due: autopep8, flake8

Add base sentry integration
  .env.example
  Dockerfile
  poetry.lock
  pyproject.toml
  src/apps/authentication/admin.py
  src/apps/core/choices.py
  src/settings/base.py
  src/settings/local.py
  src/settings/test.py
Due: autopep8, flake8, mypy

Upgrade dependencies
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
Due: none

Upgrade redis version
  docker-compose.yml
Due: none

Migrate from poetry to uv
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

Migrate to ruff
  .pre-commit-config.yaml
Due: none

Apply ruff formatting
  manage.py
  pyproject.toml
  src/__init__.py
  src/apps/authentication/admin.py
  src/apps/authentication/apps.py
  src/apps/authentication/auth.py
  src/apps/authentication/migrations/0001_initial.py
  src/apps/authentication/migrations/0002_authtoken_user.py
  src/apps/authentication/models.py
  src/apps/core/cache.py
  src/apps/core/exception.py
  src/apps/core/models.py
  src/apps/core/openapi.py
  src/apps/core/serializers.py
  src/apps/fake_admin/apps.py
  src/apps/fake_admin/forms.py
  src/apps/fake_admin/urls.py
  src/apps/fake_admin/views.py
  src/apps/user/apps.py
  src/apps/user/managers.py
  src/apps/user/migrations/0001_initial.py
  src/apps/user/models.py
  src/asgi.py
  src/global_constants.py
  src/settings/__init__.py
  src/settings/base.py
  src/settings/local.py
  src/settings/test.py
  src/urls.py
  src/wsgi.py
  tests/test_project.py
Due: autopep8, flake8, mypy

Update README
  README.md
Due: none
